In [51]:
using Random, Distributions, DataFrames, GLM, Statistics

In [8]:
α = 1.78
β = 1
Q = 100 # Liczba państw

100

In [13]:
p = rand(Uniform(.1,.75), Q)

N = reduce(vcat, rand.(Binomial.(rand(DiscreteUniform(100, 1000), Q), .1), 1))
M = reduce(vcat, rand.(Poisson.(N .^ α), 1))

m = reduce(vcat, rand.(Poisson.(M .* p), 1))
n = reduce(vcat, rand.(Binomial.(N, p), 1))

100-element Vector{Int64}:
 23
 44
  5
 20
 64
 13
  7
 18
  3
 18
  4
 11
 40
  ⋮
 15
 37
 27
 52
 13
 60
 10
 22
 49
 27
  4
 27

In [14]:
df = DataFrame(
    y = log.(m ./ N),
    x1 = log.(N),
    x2 = log.(n ./ N)
)

100×3 DataFrame
 Row │ y         x1       x2
     │ Float64   Float64  Float64
─────┼──────────────────────────────
   1 │ 1.73912   3.95124  -0.81575
   2 │ 2.84701   4.27667  -0.492476
   3 │ 0.76214   3.89182  -2.28238
   4 │ 1.84583   3.80666  -0.81093
   5 │ 3.07612   4.48864  -0.329753
   6 │ 1.51983   3.3322   -0.767255
   7 │ 1.36524   2.48491  -0.538997
   8 │ 1.85494   4.52179  -1.63142
   9 │ 0.63908   2.94444  -1.84583
  10 │ 2.23496   3.95124  -1.06087
  11 │ 1.09861   1.79176  -0.405465
  ⋮  │    ⋮         ⋮         ⋮
  91 │ 2.53521   4.14313  -0.847298
  92 │ 3.13124   4.40672  -0.455476
  93 │ 1.72344   3.97029  -1.40534
  94 │ 3.13126   4.63473  -0.540384
  95 │ 1.08725   4.07754  -1.77495
  96 │ 2.18083   3.71357  -0.62253
  97 │ 2.90758   4.38203  -0.490206
  98 │ 2.28436   4.27667  -0.980829
  99 │ 0.570545  2.56495  -1.17865
 100 │ 2.29253   3.4012   -0.105361
                     79 rows omitted

In [15]:
df1 = DataFrame(
    y = log.(m),
    x1 = log.(N),
    x2 = log.(n ./ N)
)
lm(@formula(y ~ x1 + x2 + 0), df1)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

y ~ 0 + x1 + x2

Coefficients:
────────────────────────────────────────────────────────────────
       Coef.  Std. Error       t  Pr(>|t|)  Lower 95%  Upper 95%
────────────────────────────────────────────────────────────────
x1  1.74173   0.00921473  189.02    <1e-99   1.72345    1.76002
x2  0.859601  0.0305441    28.14    <1e-48   0.798987   0.920215
────────────────────────────────────────────────────────────────

In [16]:
ols = lm(@formula(y ~ x1 + x2 + 0), df)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

y ~ 0 + x1 + x2

Coefficients:
───────────────────────────────────────────────────────────────
       Coef.  Std. Error      t  Pr(>|t|)  Lower 95%  Upper 95%
───────────────────────────────────────────────────────────────
x1  0.741734  0.00921473  80.49    <1e-90   0.723447   0.76002
x2  0.859601  0.0305441   28.14    <1e-48   0.798987   0.920215
───────────────────────────────────────────────────────────────

In [17]:
α̂, β̂ = coef(ols) + [1;0]

2-element Vector{Float64}:
 1.741733781387878
 0.8596013249854224

In [18]:
ξ̂ = N .^ α̂

100-element Vector{Float64}:
  974.5878494846565
 1717.8243411839537
  878.7626902833413
  757.6281157419498
 2484.9544230279644
  331.5614499620902
   75.79602537072704
 2632.664991663708
  168.75177314939867
  974.5878494846565
   22.663778645145022
 1143.5800016098005
 1178.7510902515182
    ⋮
  168.75177314939867
 1930.9215268935975
 1361.3575968398363
 2154.538395678906
 1007.4639865325659
 3204.989349874637
 1214.3748673815944
  644.2287843366399
 2063.8404464831674
 1717.8243411839537
   87.13502643042696
  373.897006877387

In [19]:
@show [sum(M), sum(N .^ α), sum(ξ̂)]

[sum(M), sum(N .^ α), sum(ξ̂)] = [142748.0, 143005.91386696955, 121513.55216610814]

3-element Vector{Float64}:
 142748.0
 143005.91386696955
 121513.55216610814

In [25]:
df1 = DataFrame(
    y = m,
    x1 = log.(N),
    x2 = log.(n ./ N)
)

mm = glm(@formula(y ~ x1 + x2 + 0), df1, Poisson(), LogLink())

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Poisson{Float64}, LogLink}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

y ~ 0 + x1 + x2

Coefficients:
─────────────────────────────────────────────────────────────────
       Coef.  Std. Error        z  Pr(>|z|)  Lower 95%  Upper 95%
─────────────────────────────────────────────────────────────────
x1  1.7594    0.00173394  1014.68    <1e-99   1.756      1.7628
x2  0.917097  0.00840236   109.15    <1e-99   0.900629   0.933565
─────────────────────────────────────────────────────────────────

In [26]:
α̂₁, β̂₁ = coef(mm)

2-element Vector{Float64}:
 1.7594016949068927
 0.9170969443667242

In [27]:
@show [sum(M), sum(N .^ α), sum(ξ̂), sum(N .^ α̂₁)]

[sum(M), sum(N .^ α), sum(ξ̂), sum(N .^ α̂₁)] = [142748.0, 143005.91386696955, 121513.55216610814, 130999.42352029332]

4-element Vector{Float64}:
 142748.0
 143005.91386696955
 121513.55216610814
 130999.42352029332

In [68]:
α = 1.78
β = 1
Q = 100 # Liczba państw

res = DataFrame(
    actual     = [],
    expected   = [],
    glm_est    = [],
    ols_est    = []
)

for k in 1:1000
    N = reduce(vcat, rand.(Binomial.(rand(DiscreteUniform(2000, 4000), Q), .1), 1))
    M = reduce(vcat, rand.(Poisson.(N .^ α), 1))
    p = rand(Uniform(.1,.75), Q)
    
    m = reduce(vcat, rand.(Poisson.(M .* p), 1))
    n = reduce(vcat, rand.(Binomial.(N, p), 1))

    df1 = DataFrame(
        y = m,
        x1 = log.(N),
        x2 = log.(n ./ N)
    )

    mm = glm(@formula(y ~ x1 + x2 + 0), df1, Poisson(), LogLink())
    α̂₁, β̂₁ = coef(mm)

    ols = lm(@formula(log(y) ~ x1 + x2 + 0), df1)
    α̂₂, β̂₂ = coef(ols)
    
    push!(res, [sum(M) sum(N .^ α) sum(N .^ α̂₁) sum(N .^ α̂₂)])
end # end for

In [69]:
DataFrame(
    rel_bias = [mean((res[:, 1] .- res[:, 2]) ./ res[:, 1]), mean((res[:, 1] .- res[:, 3]) ./ res[:, 1]), mean((res[:, 1] .- res[:, 4]) ./ res[:, 1])],
    rel_mse  = [mean(((res[:, 1] .- res[:, 2]) .^ 2) ./ res[:, 1]), mean(((res[:, 1] .- res[:, 3]) .^ 2) ./ res[:, 1]), mean(((res[:, 1] .- res[:, 4]) .^ 2) ./ res[:, 1])],
    rel_mae  = [mean(abs.(res[:, 1] .- res[:, 2]) ./ res[:, 1]), mean(abs.(res[:, 1] .- res[:, 3]) ./ res[:, 1]), mean(abs.(res[:, 1] .- res[:, 4]) ./ res[:, 1])],
    est  = ["Expected value","glm","ols"]
)

3×4 DataFrame
 Row │ rel_bias    rel_mse      rel_mae      est
     │ Float64     Float64      Float64      String
─────┼──────────────────────────────────────────────────────
   1 │ -2.8776e-6     0.959902  0.000486483  Expected value
   2 │  0.0169904  1195.85      0.0181339    glm
   3 │  0.0254045  2571.12      0.02672      ols

In [70]:
DataFrame(
    rel_bias = [mean((res[:, 2] .- res[:, 3]) ./ res[:, 2]), mean((res[:, 2] .- res[:, 4]) ./ res[:, 2])],
    rel_mse  = [mean(((res[:, 2] .- res[:, 3]) .^ 2) ./ res[:, 2]), mean(((res[:, 2] .- res[:, 4]) .^ 2) ./ res[:, 2])],
    rel_mae  = [mean(abs.(res[:, 2] .- res[:, 3]) ./ res[:, 2]), mean(abs.(res[:, 2] .- res[:, 4]) ./ res[:, 2])],
    est  = ["glm","ols"]
)

2×4 DataFrame
 Row │ rel_bias   rel_mse  rel_mae    est
     │ Float64    Float64  Float64    String
─────┼───────────────────────────────────────
   1 │ 0.0169925  1198.69  0.0181585  glm
   2 │ 0.0254065  2573.95  0.0267186  ols

In [79]:
α = 2.3
β = 1.2
Q = 20 # Liczba państw

res = DataFrame(
    actual     = [],
    expected   = [],
    glm_est    = [],
    ols_est    = []
)

for k in 1:1000
    N = reduce(vcat, rand.(Binomial.(rand(DiscreteUniform(200, 400), Q), .3), 1))
    M = reduce(vcat, rand.(Poisson.(N .^ α), 1))
    p = rand(Uniform(.1,.75), Q)
    
    m = reduce(vcat, rand.(Poisson.(M .* p), 1))
    n = reduce(vcat, rand.(Binomial.(N, p), 1))

    df1 = DataFrame(
        y = m,
        x1 = log.(N),
        x2 = log.(n ./ N)
    )

    mm = glm(@formula(y ~ x1 + x2 + 0), df1, Poisson(), LogLink())
    α̂₁, β̂₁ = coef(mm)

    ols = lm(@formula(log(y) ~ x1 + x2 + 0), df1)
    α̂₂, β̂₂ = coef(ols)
    
    push!(res, [sum(M) sum(N .^ α) sum(N .^ α̂₁) sum(N .^ α̂₂)])
end # end for

DataFrame(
    rel_bias = [mean((res[:, 1] .- res[:, 2]) ./ res[:, 1]), mean((res[:, 1] .- res[:, 3]) ./ res[:, 1]), mean((res[:, 1] .- res[:, 4]) ./ res[:, 1])],
    rel_mse  = [mean(((res[:, 1] .- res[:, 2]) .^ 2) ./ res[:, 1]), mean(((res[:, 1] .- res[:, 3]) .^ 2) ./ res[:, 1]), mean(((res[:, 1] .- res[:, 4]) .^ 2) ./ res[:, 1])],
    rel_mae  = [mean(abs.(res[:, 1] .- res[:, 2]) ./ res[:, 1]), mean(abs.(res[:, 1] .- res[:, 3]) ./ res[:, 1]), mean(abs.(res[:, 1] .- res[:, 4]) ./ res[:, 1])],
    est      = ["Expected value","glm","ols"]
)

3×4 DataFrame
 Row │ rel_bias    rel_mse     rel_mae      est
     │ Float64     Float64     Float64      String
─────┼─────────────────────────────────────────────────────
   1 │ 1.04519e-5     1.01476  0.000995295  Expected value
   2 │ 0.0537108   3619.82     0.0613237    glm
   3 │ 0.0741454   6649.09     0.0832668    ols

In [80]:
DataFrame(
    rel_bias = [mean((res[:, 2] .- res[:, 3]) ./ res[:, 2]), mean((res[:, 2] .- res[:, 4]) ./ res[:, 2])],
    rel_mse  = [mean(((res[:, 2] .- res[:, 3]) .^ 2) ./ res[:, 2]), mean(((res[:, 2] .- res[:, 4]) .^ 2) ./ res[:, 2])],
    rel_mae  = [mean(abs.(res[:, 2] .- res[:, 3]) ./ res[:, 2]), mean(abs.(res[:, 2] .- res[:, 4]) ./ res[:, 2])],
    est      = ["glm","ols"]
)

2×4 DataFrame
 Row │ rel_bias   rel_mse  rel_mae    est
     │ Float64    Float64  Float64    String
─────┼───────────────────────────────────────
   1 │ 0.0536983  3621.07  0.0613375  glm
   2 │ 0.074132   6651.15  0.0832724  ols